In [54]:
import pandas as pd

In [55]:
df1 = pd.read_csv('MN-DS-news-classification.csv')
df2  = pd.read_csv('news-article-categories.csv')

In [56]:
selected_categories = [
    'arts, culture, entertainment and media',
    'economy, business and finance',
    'politics',
    'science and technology',
    'sport'
]

In [57]:
df1.keys()

Index(['data_id', 'id', 'date', 'source', 'title', 'content', 'author', 'url',
       'published', 'published_utc', 'collection_utc', 'category_level_1',
       'category_level_2'],
      dtype='object')

In [58]:
df1 = df1[df1['category_level_1'].isin(selected_categories)]
df1['category_level_1'].value_counts()

category_level_1
sport                                     907
politics                                  900
science and technology                    800
economy, business and finance             400
arts, culture, entertainment and media    300
Name: count, dtype: int64

In [59]:
df2.keys()

Index(['category', 'title', 'body'], dtype='object')

In [60]:
df2['category'].value_counts()

category
ARTS & CULTURE    1002
BUSINESS           501
ENTERTAINMENT      501
ENVIRONMENT        501
POLITICS           501
RELIGION           501
SPORTS             501
TECH               501
WOMEN              501
EDUCATION          490
COMEDY             380
SCIENCE            350
MEDIA              347
CRIME              300
Name: count, dtype: int64

In [61]:
category_mapping = {
    'ARTS & CULTURE': 'arts, culture, entertainment and media',
    'BUSINESS': 'economy, business and finance',
    'ENTERTAINMENT': 'arts, culture, entertainment and media',
    'POLITICS': 'politics',
    'RELIGION': 'arts, culture, entertainment and media',
    'SPORTS': 'sport',
    'TECH': 'science and technology',
    'COMEDY': 'arts, culture, entertainment and media',
    'SCIENCE': 'science and technology',
    'MEDIA': 'arts, culture, entertainment and media',
}

In [62]:
df2['category'] = df2['category'].replace(category_mapping)

In [63]:
df2.rename(columns={'category': 'category_level_1', 'body': 'content'}, inplace=True)

In [64]:
df2_filtered = df2[df2['category_level_1'].isin(selected_categories)]

In [65]:
df2.keys()

Index(['category_level_1', 'title', 'content'], dtype='object')

In [66]:
df_combined = pd.concat([df1, df2_filtered], ignore_index=True)

In [67]:
df_combined_selected_columns = df_combined[['category_level_1', 'title', 'content']]

In [68]:
df_combined_selected_columns.to_csv('combined_news_data.csv', index=False)